@mixin box($width, $height, $mBottom, $fSize, $color) {
  width: $width;
  height: $height;
  margin-bottom: $mBottom;
  font-size: $fSize;
  color: $color;
}

@mixin btn($width, $height, $padding, $fSize, $color) {
  display: block;
  width: $width;
  height: $height;
  padding-right: $padding;
  padding-left: $padding;
  text-align: center;
  line-height: $height;
  font-size: $fSize;
  border: 1px solid;
  border-color: $color;
  color: $color;
  text-decoration: none;
  cursor: pointer;
}

@mixin clearfix {
    &:after {
    content: '';
    clear: both;
    display: block;
    }
}

