.notification {
  .notice {
    background-color: $light_blue;
    color: $sidebar-white;
    text-align: center;
  }
  
  .alert {
    background-color: $alert_orange;
    color: $sidebar-white;
    text-align: center;
  }
}